.driver-card-collapse {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:flex-end;
    border-top: 2px solid red;
    padding-top: 10px;
}


.driver-card-collapse__content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap:wrap;
    align-items:flex-start;
}