.login-logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-textField.login-textField {
    margin: 10px 0px ;
    border-color: "#d50000 !important";
    border-width: 2px;
    
}

.login-button {
    color: red;
}